{% load staticfiles %}
<html>

	<head>
        <title>Findoor</title>


		  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
		 <link href="https://fonts.googleapis.com/css?family=Sofadi+One" rel="stylesheet">
		  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>
    <body>
	<header id="main-header">
		<nav>
		</nav><!-- / nav -->
	</header><!-- / #main-header -->
	
	<h1>Bienvenido a Findoor</h1>
	<table style="width:%">
	    <tr>
			<th><img src="{% static 'sitio3.jpg' %}" width="300" height="200"></th>
			<th><img src="{% static 'sitio4.jpg' %}" width="300" height="200"></th> 
			<th><h1>Findoor</h1>
		<p>Haz de tu viaje una aventura!</p>
		<p>con nuestra aplicación puedes conocer diferentes lugares </p>
		<p>colecciona sitios visitados y compártelos con otros usuarios de nuestra aplicación</p></th> 
	    </tr>
	    <tr>
			<th><img src="{% static 'sitio1.jpg' %}" width="300" height="200"></th>
			<th><img src="{% static 'sitio2.jpg' %}" width="300" height="200"></th> 
			<th><img src="{% static 'Findoor.png' %}" width="300" height="200"></th> 
		</tr>
	</table>

	</body>
</html>
